.scroll-bar {
  overflow-y: scroll;
}

.scroll-bar {
  scrollbar-color: rgb(234, 231, 231);
  scrollbar-width: thin;
}

.scroll-bar::-webkit-scrollbar {
  width: 5px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: rgb(42, 41, 41);
}

.scroll-bar::-webkit-scrollbar-track {
  background-color: rgb(234, 231, 231);
}
